
.outer-div{
    position: relative;
    border: 2px solid black;
    height: 300px;
    width: 600px;
    color: aliceblue;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
}
.orange-color-div{
    background-color: orange;
    height: 60%;
    width: 50%;
    line-height: 150px;   
}
.blue-color-div{
    background-color: blue;
    height: 40%;
    width: 50%;
    line-height: 100px;
}
.red-color-div{
    left: 50%;
    top: 0%;
    position: absolute;
    background-color: red;
    height: 100%;
    width: 25%;
    line-height: 300px;
}
.green-color-div{
    left: 75%;
    top: 0%;
    position: absolute;
    background-color: green;
    height: 100%;
    width: 25%;
    line-height: 300px;
}
